{#
 # SharIF Judge
 # file: submit.twig
 # author: Mohammad Javad Naderi <mjnaderi@gmail.com>
 #}
{% set selected = 'submit' %}
{% extends 'templates/base.twig' %}
{% block icon %}fa-location-arrow{% endblock %}
{% block title %}Submit{% endblock %}
{% block head_title %}Submit{% endblock %}



{% block other_assets %}
	<script>
		shj.p={};
		{{ problems_js|raw }}
	</script>

	<script src={{ base_url('assets/ace/ace.js') }} type="text/javascript" charset="utf-8"></script>
	<script type='text/javascript' src="{{ base_url("assets/js/shj_submit.js") }}"></script>
{% endblock %}



{% block main_content %}
{% if error != 'none' %}
<p>{{ error }}</p>
{% else %}
	<p>Selected assignment: <span dir="auto">{{ user.selected_assignment.name }}</span></p>
	<p>Coefficient: {{ coefficient }}%</p>
	{{ form_open_multipart('submit') }}
	<p class="input_p">
		<label for="problems" class="tiny">Problem:</label>
		<select id="problems" name ="problem" class="sharif_input">
			<option value="0" selected="selected">-- Select Problem --</option>
			{% for problem in problems %}
				<option dir="auto" value="{{ problem.id }}">{{ problem.name }}</option>
			{% endfor %}
		</select>
		{{ form_error('problem','<div class="shj_error">','</div>') }}
	</p>
	<p class="input_p">
		<label for="languages" class="tiny">Language:</label>
		<select id="languages" name="language" class="sharif_input">
			<option value="0" selected="selected">-- Select Language --</option>
		</select>
		{{ form_error('language','<div class="shj_error">','</div>') }}
	</p>
	<button type="button" id="show_upload">+</button>
	<p class="input_p upload_hidden" hidden>
		<label for="file" class="tiny">File:</label>
		<input type="file" id="file" class="sharif_input medium" name="userfile" />
		{% if upload_state == 'error' %}
		<div class="shj_error">Error uploading file.</div>
		{% elseif upload_state == 'ok' %}
		<div class="shj_ok">File uploaded successfully. See the result in 'All Submissions'.</div>
		{% endif %}
	</p>
	<p class="input_p upload_hidden" hidden>
		<input type="submit" value="Submit" class="sharif_input"/>
	</p>
	</form>

	<br>
	<div style ="display:flex;">
		<div style ="display:flex; flex-direction:column; width: 60%; height: 800px;">
			<div id="code_editor" style="width: 100%; height: 70%;"></div>
			<div style ="display:flex; width: 100%; height: 30%;">
				<fieldset style="width: 50%; height: 100%; padding: 0; border: 0;">
					<legend>In</legend>
					<textarea id="editor_input" style="resize:none; width: 100%; height: 100%;"></textarea>
				</fieldset>
				<fieldset style="width: 50%; height: 100%; padding: 0; border: 0;">
					<legend>Out</legend>
					<textarea id="editor_output" style="resize:none; width: 100%; height: 100%;" readonly></textarea>
				</fieldset>
			</div>
		</div>
		<iframe id="pdf_viewer" src={{ base_url('assets/pdfjs/web/viewer.html?file=') ~ site_url('assignments/pdf/' ~ user.selected_assignment.id ~ '/null/true')}} style="width: 40%;  height: 800px;"></iframe>
	</div>
	<br>
	<button type="button" id="editor_save" disabled>Save</button>
	<button type="button" id="editor_execute" disabled>Execute</button>
	<button type="button" id="editor_submit" disabled>Submit</button>
	<span id="ajax_status"></span>
{% endif %}
{% endblock %}  {# main_content #}