{#
 # SharIF Judge
 # file: submit.twig
 # author: Mohammad Javad Naderi <mjnaderi@gmail.com>
 #}
{% set selected = 'submit' %}
{% extends 'templates/base.twig' %}
{% block icon %}fa-location-arrow{% endblock %}
{% block title %}Submit{% endblock %}
{% block head_title %}Submit{% endblock %}



{% block other_assets %}
<script src={{ base_url('assets/ace/ace.js') }} type="text/javascript" charset="utf-8"></script>

<script>
	shj.p={};
	{{ problems_js|raw }}
	$(document).ready(function(){
		var editor = ace.edit("code_editor");
    	editor.setTheme("ace/theme/monokai");
    	editor.session.setMode("ace/mode/java");

		function disableEditor(bool) {
			$("#save").prop("disabled", bool);
		}

		function loadCode(problem_id){
			if(problem_id == 0){
				editor.setValue("");
				$("#ajax_status").html("Select problem");
				disableEditor(true);
			}
			else{
				disableEditor(true);
				var url = "{{ site_url('submit/load') ~ '/'}}" + problem_id;	
				$.ajax({
					url: url,
					cache: false,
					success: function (data){
						data = JSON.parse(data);
						editor.setValue(data.content);
						$("#ajax_status").html(data.message);
						disableEditor(false);
					},
					error: function (error){
						console.log(JSON.stringify(error));
						disableEditor(false);
					},
				});
			}
		}

		$("select#problems").change(function(){
			var v = $(this).val();
			loadCode(v);
			$('select#languages').empty();
			$('<option value="0" selected="selected">-- Select Language --</option>').appendTo('select#languages');
			for (var i=0;i<shj.p[v].length;i++)
				$('<option value="'+shj.p[v][i]+'">'+shj.p[v][i]+'</option>').appendTo('select#languages');
		});

		$("#save").click(function(){
			$.ajax({
				type: "POST",
				url: "{{ site_url('submit/save') }}", 
				data: {
					["{{csrf_name}}"]: "{{csrf_hash}}",
					code_editor: editor.getValue(),
					problem_id: $("select#problems").val(),
				},
				dataType: "text",  
				cache: false,
				success: function(data){
					$("#ajax_status").html(data);
				},
				error: function (error){
					console.log(JSON.stringify(error));
				},
			});
			return false;
 		});

		loadCode($("select#problems").val());
	});
</script>
{% endblock %}



{% block main_content %}
{% if error != 'none' %}
<p>{{ error }}</p>
{% else %}
	<p>Selected assignment: <span dir="auto">{{ user.selected_assignment.name }}</span></p>
	<p>Coefficient: {{ coefficient }}%</p>
	{{ form_open_multipart('submit') }}
	<p class="input_p">
		<label for="problems" class="tiny">Problem:</label>
		<select id="problems" name ="problem" class="sharif_input">
			<option value="0" selected="selected">-- Select Problem --</option>
			{% for problem in problems %}
				<option dir="auto" value="{{ problem.id }}">{{ problem.name }}</option>
			{% endfor %}
		</select>
		{{ form_error('problem','<div class="shj_error">','</div>') }}
	</p>
	<p class="input_p">
		<label for="languages" class="tiny">Language:</label>
		<select id="languages" name="language" class="sharif_input">
			<option value="0" selected="selected">-- Select Language --</option>
		</select>
		{{ form_error('language','<div class="shj_error">','</div>') }}
	</p>
	<p class="input_p">
		<label for="file" class="tiny">File:</label>
		<input type="file" id="file" class="sharif_input medium" name="userfile" />
		{% if upload_state == 'error' %}
		<div class="shj_error">Error uploading file.</div>
		{% elseif upload_state == 'ok' %}
		<div class="shj_ok">File uploaded successfully. See the result in 'All Submissions'.</div>
		{% endif %}
	</p>
	<p class="input_p">
		<input type="submit" value="Submit" class="sharif_input"/>
	</p>
	</form>

	<iframe id="pdf_viewer" src={{ base_url('assets/pdfjs/web/viewer.html?file=') ~ site_url('assignments/pdf/' ~ user.selected_assignment.id ~ '/null/true')}} frameborder="0" width="80%" height="400"></iframe>
	<div id="code_editor" style="resize: none; width: 80%; height: 400px;" disabled>function foo(items) {
    	var x = "All this is syntax highlighted";
    	return x;
	}</div>
	<button type="button" id="save" disabled>Save</button>
	<span id="ajax_status"></span>
{% endif %}
{% endblock %}  {# main_content #}